DerivedData/*
Test.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Test.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Test.xcodeproj/project.xcworkspace/xcuserdata/mzy.xcuserdatad/UserInterfaceState.xcuserstate
Test.xcodeproj/xcuserdata/mzy.xcuserdatad/xcschemes/xcschememanagement.plist
